<form [formGroup]="authenticationForm">
  <h1>
    {{ formProperties.title }}
  </h1>
  <mat-form-field
    class="single-field"
    appearance="outline"
  >
    <mat-label>
      Логін
    </mat-label>
    <input
      formControlName="login"
      [maxLength]="maxInputLength"
      matInput
      placeholder="..."
    >
    <mat-hint align="end">
      {{ authenticationForm.get('login')?.value?.length + ' / ' + maxInputLength }}
    </mat-hint>
  </mat-form-field>
  <mat-form-field
    class="single-field"
    appearance="outline"
  >
    <mat-label>
      Електронна адреса
    </mat-label>
    <input
      formControlName="email"
      [maxLength]="maxInputLength"
      matInput
      placeholder="your@example.com..."
    >
    <mat-hint align="end">
      {{ authenticationForm.get('email')?.value?.length + ' / ' + maxInputLength }}
    </mat-hint>
  </mat-form-field>
  <mat-form-field
    class="single-field"
    appearance="outline"
  >
    <mat-label>
      Пароль
    </mat-label>
    <input
      formControlName="password"
      [maxLength]="maxInputLength"
      matInput
      type="password"
      placeholder="Ваш пароль..."
    >
    <mat-hint align="end">
      {{ authenticationForm.get('password')?.value?.length + ' / ' + maxInputLength }}
    </mat-hint>
  </mat-form-field>
  <mat-form-field
    *ngIf="formProperties.formType === 0"
    class="single-field"
    appearance="outline"
  >
    <mat-label>
      Повторіть пароль
    </mat-label>
    <input
      formControlName="repeatPassword"
      [maxLength]="maxInputLength"
      matInput
      type="password"
      placeholder="Повторіть пароль..."
    >
    <mat-hint align="end">
      {{ authenticationForm.get('repeatPassword')?.value?.length + ' / ' + maxInputLength }}
    </mat-hint>
  </mat-form-field>
  <div class="both-btn">
    <button
      [disabled]="!authenticationForm.valid"
      mat-raised-button
      mat-dialog-close
      color="primary"
      class="form-btn"
      type="submit"
      (click)="formProperties.formType === 0 ? onRegisterUser() : onAuthorizeUser()"
    >
      {{ formProperties.formType === 0 ? 'Зареєструватися' : 'Авторизуватися' }}
    </button>
    <button
      mat-raised-button
      mat-dialog-close
      color="warn"
      class="form-btn"
    >
      Повернутись
    </button>
  </div>
</form>
