<div class="d-flex justify-content-between align-items-center flex-row">
  <h3 class="m-0 font-weight-700"> Вікно здійснення покупки </h3>
  <button mat-dialog-close class="box-btn">
    <svg class="box-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
      <path
        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
    </svg>
  </button>
</div>

<div class="d-flex flex-column" style="width: 500px;">
  <mat-form-field appearance="outline" class="w-100 mt-3">
    <mat-label> Прізвище </mat-label>
    <input matInput placeholder="..." [(ngModel)]="userInfo.surname" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mt-3">
    <mat-label> Ім'я </mat-label>
    <input matInput placeholder="..." [(ngModel)]="userInfo.name" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mt-3">
    <mat-label> Введіть номер картки </mat-label>
    <input matInput type="number" placeholder="1234123412341234" [(ngModel)]="cardNumber" required>
  </mat-form-field>

  <div class="d-flex flex-row justify-content-between mt-3">
    <mat-form-field appearance="outline" class="w-40">
      <mat-label> Дата </mat-label>
      <input matInput placeholder="01/01" [(ngModel)]="cardDate" required [maxLength]="5" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, picker)"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Выберите месяц и день" [(ngModel)]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, picker)"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-40">
      <mat-label> CVV2 </mat-label>
      <input matInput type="number" placeholder="1234" [(ngModel)]="cardCVV2" required [maxLength]="3">
    </mat-form-field>
  </div>

  <div class="d-flex flex-row justify-content-between mt-3">
    <button class="action-btn" [mat-dialog-close]="isSubmitted" [disabled]="!chickRequiredFields" (click)="onSubmitForm()">
      Створити покупку
    </button>

    <button class="action-btn" mat-dialog-close>
      Повернутися
    </button>
  </div>
</div>
