<div 
  mat-dialog-title 
  class="d-flex justify-content-between align-items-center flex-row header-gradient"
  style="padding: 0 0 10px 0" 
  cdkDrag 
  cdkDragRootElement=".cdk-overlay-pane" 
  cdkDragHandle
>
  <h2 class="mb-0 mt-1 font-weight-700"> Вікно здійснення покупки </h2>
  <button mat-dialog-close class="box-btn-close">
    <svg class="box-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
      <path
        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
    </svg>
  </button>
</div>

<div mat-dialog-content class="d-flex flex-column" style="width: 500px; padding: 20px">
  <mat-form-field appearance="outline" class="w-100 mt-3">
    <mat-label> Прізвище </mat-label>
    <input matInput placeholder="..." [(ngModel)]="userInfo.surname" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mt-3">
    <mat-label> Ім'я </mat-label>
    <input matInput placeholder="..." [(ngModel)]="userInfo.name" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mt-3">
    <mat-label> Адреса доставки </mat-label>
    <input matInput placeholder="..." [(ngModel)]="userInfo.address" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mt-3">
    <mat-label> Введіть номер картки </mat-label>
    <input matInput type="text" placeholder="1234 1234 1234 1234" [(ngModel)]="cardNumber"
      (input)="onInputCardNumber($event)" required [value]="cardNumber | cardNumberPipe" minlength="19" maxlength="19">
  </mat-form-field>

  <div class="d-flex flex-row justify-content-between mt-3">
    <mat-form-field appearance="outline" class="w-40">
      <mat-label> Дата карти </mat-label>
      <input matInput type="text" [(ngModel)]="cardDate" (input)="onInput($event)" required maxlength="5" minlength="5">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-40">
      <mat-label> CVV2 </mat-label>
      <input 
        matInput 
        type="text" 
        placeholder="1234" 
        [(ngModel)]="cardCVV2" 
        required 
        [maxLength]="3"
      >
    </mat-form-field>
  </div>

  <div class="d-flex flex-row justify-content-between mt-3">
    <mat-form-field appearance="outline" class="w-40">
      <mat-label> Кількість товару </mat-label>
      <input matInput type="number" placeholder="..." required (input)="onChange($event)">
    </mat-form-field>

    <div class="d-flex flex-column">
      <p> Загальна ціна: </p>
      <span> {{ this.item.price * amount }} грн </span>
    </div>
  </div>

  <div class="d-flex flex-row mt-3 item-block">
    <img [src]="item.imgSrc" class="item-img">

    <div class="ms-3 d-flex justify-content-center">
      <p> {{ item.productName }} </p>
    </div>
  </div>
</div>

<div mat-dialog-actions class="d-flex flex-row justify-content-between" style="padding: 20px; background: #0000000a;">
  <button 
    mat-raised-button
    [mat-dialog-close]="isSubmitted" 
    [disabled]="!chickRequiredFields"
    color="primary"
    (click)="onSubmitForm()"
    style="border-radius: 10px"
  >
    Створити покупку
  </button>

  <button 
    mat-raised-button
    mat-dialog-close
    color="warn"
    style="border-radius: 10px"
  >
    Повернутися
  </button>
</div>

