.w-40 {
  width: 40%;
}

.font-weight-700 {
  font-weight: 700;
}

.box-btn {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  fill: #8b8b8b;
  transition: 0.3s all ease-in-out;
  background: rgba(255, 255, 255, 0.6);
}

.box-btn:hover {
  background: rgb(255, 255, 255);
  fill: black;
}

.box-icon {
  width: 20px;
  height: 20px;
}

.action-btn {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  color: #777777;
  transition: 0.3s all ease-in-out;
  background: rgba(255, 255, 255, 0.6);
}

.action-btn:hover {
  background: rgb(255, 255, 255);
  color: black;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
}

.item-img {
  border-radius: 5px;
  width: 200px;
  height: 100px;
}

.item-block {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}
