<div class="main-content">
  <div class="d-flex justify-content-center">
    <div class="grid-container" style="border-radius: 15px; box-shadow: 0px 4px 12px 0px rgb(0 0 0);">
      <div        
        class="item1 border-hr-line position-relative" 
        [ngStyle]="{ width: '350px', padding: '20px' }" 
        style="border-radius: 15px;"
      >
        <div *ngIf="pageType == PageType.AllGoodsComponent"> 
          <strong> Фільтри товарів </strong>
          <hr>
          <mat-expansion-panel class="my-2">
            <mat-expansion-panel-header>
              <mat-panel-title> Пошук </mat-panel-title>
            </mat-expansion-panel-header>
          
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Search" type="text" [(ngModel)]="textFilter">
              <button mat-icon-button matSuffix (click)="itemFilter()">
                <mat-icon> search </mat-icon>
              </button>
            </mat-form-field>
          </mat-expansion-panel>
          
          <mat-expansion-panel class="my-2">
            <mat-expansion-panel-header>
              <mat-panel-title> Фільтр за ціною товару </mat-panel-title>
            </mat-expansion-panel-header>
          
            <div class="d-flex flex-row justify-content-between align-items-baseline">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Від" type="number" [(ngModel)]="priceFilter.from" (input)="itemFilter()">
              </mat-form-field>
          
              <mat-form-field appearance="outline">
                <input matInput placeholder="До" type="number" [(ngModel)]="priceFilter.to" (input)="itemFilter()">
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </div>
        
        <div *ngIf="pageType == PageType.MyGoodsComponent">
          <div class="item1 border-hr-line position-relative" [ngStyle]="{ width: '250px', padding: '20px' }"
            style="border-radius: 15px;">
            <strong> Меню керування </strong>
          
            <hr>
          
            <button mat-raised-button class="btn-create w-100" (click)="onCreateItem()">
              Додати новий товар
            </button>
          </div>
        </div>
      </div>

      <mat-paginator
        class="item2"
        [length]="items.length"
        [pageSize]="9"
        (page)="onPageChange($event)"
        style="border-radius: 15px;"
      > </mat-paginator>

      <div class="item3 custom-grid justify-content-center">
        <div
          [@fadeInOut]
          *ngFor="let item of pagedItems; let itemIndex = index"
          class="item-card p-3 grid-item-border d-flex flex-column justify-content-between"
          (click)="onOpenItem(item)"
        >
          <img [src]="item.imgSrc" class="mat-img-size" (error)="onErrorImg(itemIndex)">

          <div>
            <div>
              <label [for]="productName" class="fw-bold"> Назва: </label>
              <h3 class="truncate" #productName> {{ item.productName }} </h3>

              <label [for]="productDescription" class="fw-bold"> Опис: </label>
              <p class="truncate" #productDescription> {{ item.description }} </p>
            </div>

            <div class="d-flex justify-content-between">
              <div matTooltip="Рейтинг" style="color: gold">
                <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                  <mat-icon
                    (click)="onShowRating($event, item, 2);"
                    (mouseover)="onChangeRating(i + 1, itemIndex)"
                    (mouseout)="onMouseOver(itemIndex)"
                    [ngClass]="{ 'filled': i < currentRating[itemIndex] }"
                  >
                    {{ i < currentRating[itemIndex] ? 'star' : 'star_outline' }}
                  </mat-icon>
                </ng-container>
              </div>

              <div class="d-flex">
                <mat-icon
                  (click)="onShowRating($event, item, 2);"
                  matRipple
                  [matRippleCentered]="true"
                  [matRippleUnbounded]="true"
                  matTooltip="Відгуки"
                > chat </mat-icon>
                <span> {{ item.comments.length }} </span>
              </div>
            </div>
          </div>

          <div>
            <span class="fw-bold"> Ціна: </span>
            <span> {{ item.price | currency: 'UAH': 'symbol-narrow': '1.0-0' | slice: 1 }} </span>
            <span> {{ ((item.price | currency: 'UAH': 'symbol-narrow': '1.0-0')?.charAt(0) || '') }} </span>
          </div>

          <div *ngIf="pageType === PageType.AllGoodsComponent" class="d-flex justify-content-between shadow-menu-item">
            <button
              (click)="$event.stopPropagation();"
              (click)="onUserAuth ? onBuyItem($event, item) : null;"
              class="btn-card-item"
              [matTooltip]="onUserAuth ? 'Придбати' : 'Увійдіть, щоб здійснити покупку'"
              [class.disabled-button]="!onUserAuth"
            >
              <svg class="icon-card-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path
                  d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
              </svg>
            </button>

            <button
              class="btn-card-item"
              [matTooltip]="itemMatTooltip(item)"
              [class.disabled-button]="getQualityId(item) || !onUserAuth"
              (click)="!getQualityId(item) ? onAddToShoppingCard($event, item) : null"
            >
              <svg class="icon-card-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path
                  d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96zM252 160c0 11 9 20 20 20h44v44c0 11 9 20 20 20s20-9 20-20V180h44c11 0 20-9 20-20s-9-20-20-20H356V96c0-11-9-20-20-20s-20 9-20 20v44H272c-11 0-20 9-20 20z"/>
              </svg>
            </button>
          </div>

          <div *ngIf="pageType === PageType.MyGoodsComponent" class="d-flex justify-content-between shadow-menu-item">
            <button 
              matRipple
              class="btn-card-item" 
              matTooltip="Редагувати товар" 
              (click)="$event.stopPropagation();"
              (click)="onEditUserItem(item)"
              style="font-size: 30px"
            >
              <mat-icon> edit_note </mat-icon>
            </button>

            <button 
              matRipple
              class="btn-card-item" 
              matTooltip="Видалити товар" 
              (click)="$event.stopPropagation();"
              (click)="onDeleteUserItem(item)"
              style="font-size: 30px"
            >
              <mat-icon> delete </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>