<div class="d-flex flex-row profile-menu">
  <div class="d-flex flex-column justify-content-between user-info">
    <img src="" class="user-avatar">

    <div class="mt-5 d-flex justify-content-center align-items-center flex-column">
      <p> {{ userProfile.login }} </p>
      <p> text 2 </p>
      <p> text 3 </p>
      <p> text 4 </p>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center flex-column" style="flex: 1">
    <p> text 1 </p>
    <p> text 2 </p>
    <p> text 3 </p>
    <p> text 4 </p>
  </div>
</div>
