.profile-menu {
  background: white;
  border-radius: 15px;
  margin: 0 15%;
}

.user-info {
  margin: 30px;
}

.user-avatar {
  border-radius: 15px;
  border: 1px solid grey;
  width: 500px;
  height: 500px;
}
