.single-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px 0;
}

.both-btn {
  display: flex;
  justify-content: space-between;
}

.form-btn {
  width: 200px;
}

mat-form-field {
  display: block;
}

img {
  margin-bottom: 10px
}
