<div class="navigation-menu d-flex justify-content-between align-items-center">
  <div class="d-flex flex-row">
    <button matRipple class="btn-navigation-menu mx-2" [matMenuTriggerFor]="navigation"> <!-- MENU  -->
      <svg class="icon-navigation-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path
          d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
      </svg>
    </button>

    <div class="d-flex align-items-center mx-2">
      <img class="navigation-logo" src="../../assets/img/document-transformed.png">
      <strong class="fs-3"> AngularShop </strong>
    </div>
  </div>

  <div class="d-flex flex-row">
    <!-- <button matRipple class="btn-navigation-menu mx-2" [matMenuTriggerFor]="bellMenu">
      <svg class="icon-navigation-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path
          d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z"/>
      </svg>
    </button> -->

    <div [matBadge]="items.length ? items.length : null" style="width: 40px" class="mx-2" [matMenuTriggerFor]="shopCart">
      <button matRipple class="btn-navigation-menu"> <!-- SHOPPING CART  -->
        <svg class="icon-navigation-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <path [matBadge]="items.length"
            d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
          />
        </svg>
      </button>
    </div>

    <button
      matRipple
      class="btn-navigation-menu mx-2 profile-toggle d-flex flex-row align-items-center justify-content-center"
      [matMenuTriggerFor]="menu"
      (mouseenter)="isHoveredProfile = true"
      (mouseleave)="isHoveredProfile = false"
    >
      <!-- PROFILE  -->
      <div class="d-flex">
        <svg *ngIf="isAuthorized" class="icon-navigation-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
        </svg>

        <svg
          *ngIf="!isAuthorized"
          class="icon-navigation-menu"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 640 512"
          style="width: 26px; height: 26px"
        >
          <path
            d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L353.3 251.6C407.9 237 448 187.2 448 128C448 57.3 390.7 0 320 0C250.2 0 193.5 55.8 192 125.2L38.8 5.1zM264.3 304.3C170.5 309.4 96 387.2 96 482.3c0 16.4 13.3 29.7 29.7 29.7H514.3c3.9 0 7.6-.7 11-2.1l-261-205.6z"/>
        </svg>
      </div>

      <strong *ngIf="isHoveredProfile" class="element-appearance mx-1"> Профіль </strong>
    </button>
  </div>
</div>

<div style="height: 70px;"></div>

<section class="w-100 p-4 border-bottom-radius-5px d-none">
  <mat-toolbar class="navbar navbar-expand-lg navbar-light bg-light position-relative shadows border-radius-5px">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      [matMenuTriggerFor]="navigation"
    >
      <mat-icon>
        menu
      </mat-icon>
    </button>

    <mat-menu #navigation="matMenu">
      <button mat-menu-item (click)="onNavigate('all-goods')">Усі товари</button>
      <button mat-menu-item (click)="onNavigate('my-goods')">Мої товари</button>
    </mat-menu>

    <span (click)="onNavigate('home')">
      AngularShop
    </span>
    <div class="position-absolute side-buttons" [ngStyle]="{ 'right': '20px' }">
      <div *ngIf="!isAuthorized">
        <button mat-button class="mx-3" (click)="onAuthenticationDialog(0)">
          Реєстрація
        </button>
        |
        <button mat-button class="mx-3" (click)="onAuthenticationDialog(1)">
          Авторизація
        </button>
      </div>

      <button
        *ngIf="isAuthorized"
        class="ms-4"
        mat-button
        [matMenuTriggerFor]="shopCart"
      >
        <mat-icon
          class="nav-icon"
          [matBadge]="items.length"
          matBadgeColor="warn"
        >
          shopping_cart
        </mat-icon>
        Кошик
      </button>

      <mat-menu #shopCart="matMenu">
        <div *ngIf="!items.length" [ngStyle]="{ width: '280px' }">
          <p class="p-2 text-center"> Ваш кошик пуст </p>
        </div>

        <div *ngIf="items.length" class="d-flex justify-content-between align-items-center">
          <div class="m-2 w-100 h-100" (click)="onClick($event)"> Всього обрано: {{ items.length }} </div>
          <button mat-stroked-button class="m-2" [ngStyle]="{ minWidth: 'initial', padding: 'inherit', width: '50px', height: '40px' }">
            <mat-icon [ngStyle]="{ margin: '0 auto' }"> close</mat-icon>
          </button>
        </div>

        <div cdkDropList [cdkDropListData]="items" (cdkDropListDropped)="drop($event)" class="example-list">
          <div
            cdkDrag
            *ngFor="let item of items"
            class="d-flex p-2 item-menu border-menu-item bg-white-o-1"
            [ngStyle]="{ minWidth: '280px' }"
            (cdkDragEnded)="dragEnd($event, item.productId)"
            (click)="$event.stopPropagation()"
          >
            <img mat-card-sm-image [src]="item.imgSrc" [ngStyle]="{ width: '50px', height: '50px', borderRadius: '5px' }">
            <div [ngStyle]="{ height: '50px', width: '1fr', paddingLeft: '10px' }"
              class="d-flex flex-column justify-content-around">
              <p class="mat-card-text truncate">
                <span class="fw-bold"> Назва: </span>
                <span> {{ item.productName }} </span>
              </p>

              <p class="mat-card-text truncate">
                <span class="fw-bold"> Ціна: </span>
                <span> {{ item.price }} </span>
              </p>
            </div>

            <div *cdkDragPlaceholder style="height: 66px"></div>

            <div [ngStyle]="{ flexGrow: '1' }"></div>

            <div [ngStyle]="{ height: '50px', width: '50px' }"
              class="d-flex flex-row-reverse justify-content-start align-items-center">
              <div>
                <button class="btn-shopping-cart-menu" (click)="onDeleteForShoppingCard(item.productId)"
                  (click)="$event.stopPropagation()">
                  <svg class="icon-navigation-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="items.length" class="d-flex justify-content-center p-2">
          <span> Загальна ціна: {{ items.length }} </span>
        </div>
      </mat-menu>
      <button
        *ngIf="isAuthorized"
        class="ms-3"
        mat-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon class="nav-icon">
          account_box
        </mat-icon>
        Профіль
      </button>
    </div>
  </mat-toolbar>
</section>

<mat-menu #menu="matMenu">
  <div *ngIf="isAuthorized">
    <button mat-menu-item (click)="navigateToUserProfile()">
      <mat-icon> notes</mat-icon>
      <span>
        Мій аккаунт
      </span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon> logout</mat-icon>
      <span> Вийти </span>
    </button>
  </div>

  <div *ngIf="!isAuthorized" class="d-flex flex-column justify-content-center align-items-center">
    <button mat-menu-item (click)="onAuthenticationDialog(1)">
      <svg class="menu-auth-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/>
      </svg>

      Увійти
    </button>

    <button mat-menu-item (click)="onAuthenticationDialog(0)">
      <svg class="menu-auth-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path
          d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
      </svg>

      Зареєструватись
    </button>
  </div>

</mat-menu>

