.footer-bg-color {
  background: transparent;
  height: 200px;
  color: #ffffff78;
}

.footer-text {
  width: 50%;
  font-size: 12px;
  text-align: center;
}

.mat-footer-icon {
  width: 150px;
  height: 50px;
  fill: #ffffff82;
}

svg {
  width: 50px;
  height: 50px;
  fill: #ffffff82;
  margin: 0 10px;
  transition: 0.3s all ease-in-out;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

svg:hover {
  fill: white;
}

.footer-divider {
  color: white;
  margin: 0 auto;
  width: 90%;
  height: 2px;
  border: none;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255 255 255), rgba(0, 0, 0, 0));
}