/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif !important;
  background: #303030;
}

.mat-mdc-dialog-surface {
  padding: 20px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #cccccc;
}

.mat-mdc-dialog-surface {
  border-radius: 15px!important;
  padding: 0!important;
}
