<div class="main-content">
  <button (click)="onAddItem()">Click me</button>
  <div class="d-flex justify-content-center">
    <div class="grid-container shadow-settings">
      <div class="item1 border-hr-line position-relative" [ngStyle]="{ width: '350px', padding: '20px' }">
        <p>
          <strong>
            Меню керування
          </strong>
        </p>
        <hr>
        <button
          mat-flat-button
          class="w-100 btn-create"
          (click)="onCreateItem()"
        >
          Додати новий товар
        </button>
      </div>
      <mat-paginator
        class="item2"
        [length]="items.length"
        [pageSize]="9"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
      <div class="item3 custom-grid justify-content-center">
        <div
          [@fadeInOut]
          class="item-card p-3 grid-item-border d-flex flex-column justify-content-between"
          *ngFor="let item of pagedItems; let i = index"
        >
          <img [src]="item.imgSrc" class="mat-img-size">

          <div>
            <div>
              <label [for]="productName" class="fw-bold"> Назва: </label>
              <h3 class="truncate" #productName> {{ item.productName }} </h3>

              <label [for]="productDescription" class="fw-bold"> Опис: </label>
              <p class="truncate" #productDescription> {{ item.description }} </p>
            </div>

            <div class="d-flex justify-content-between">
              <div matTooltip="Рейтинг">
                <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                  <mat-icon [ngClass]="{ 'filled': i < getRating(item) }">
                    {{ i < getRating(item) ? 'star' : 'star_outline' }}
                  </mat-icon>
                </ng-container>
              </div>
              <div class="d-flex">
                <mat-icon
                  matRipple
                  [matRippleCentered]="true"
                  [matRippleUnbounded]="true"
                  matTooltip="Відгуки"
                >
                  chat
                </mat-icon>
                <span> {{ item.comments?.length ?? 0 }} </span>
              </div>
            </div>
          </div>

          <span>
            <span class="fw-bold"> Ціна: </span>
            {{ item.price | currency: 'UAH': 'symbol-narrow': '1.0-0' | slice: 1 }}
            {{
              ((item.price | currency: 'UAH': 'symbol-narrow': '1.0-0')?.charAt(0) || '')
            }}
          </span>

          <div class="d-flex justify-content-between shadow-menu-item">
            <button
              mat-button
              class="d-flex justify-content-center"
              [disabled]="true"
              matTooltip="Придбати"
            >
              <mat-icon class="icon-size-30px">
                shopping_cart
              </mat-icon>
            </button>

            <button
              mat-button
              class="d-flex justify-content-center"
              [disabled]="true"
              matTooltip="У кошик"
            >
              <mat-icon class="icon-size-30px">
                add_shopping_cart
              </mat-icon>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
